.DishGrid .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5rem;
}

.DishGrid {
  padding: 8rem 0;
}

@media (max-width: 900px) {
  .DishGrid .container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }
}

@media (max-width: 600px) {
  .DishGrid .container {
    grid-template-columns: 1fr;
    grid-gap: 2rem;
  }
}