.Header .container {
  display: flex;
}

.bg-wrapper {
  flex: 1;
  background-image: url(../assets/header-bg.jpg);
  background-position: 50% 60%;
  background-size: cover;
}

.Header h1 {
  padding: 10rem 0;
  color: var(--primary);
  text-transform: uppercase;
  letter-spacing: 2px;

}