* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  box-sizing: border-box;
}

:root {
  --white: #fafbfa;
  --primary: #08a951;
  --black: #130d09;
  --grey: #b1b6aa;
  --primary-dark: #668a45;
  --secondary:#9D622D;
  --secondary-dark: #56462D;
}