* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

:root {
  --white: #fafbfa;
  --primary: #08a951;
  --black: #130d09;
  --grey: #b1b6aa;
  --primary-dark: #668a45;
  --secondary:#9D622D;
  --secondary-dark: #56462D;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
  background-color: var(--white);
  color: var(--black);
}

h1, h2, h3, h4, h5 {
  font-family: "Lato";
}
