* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

:root {
  --white: #fafbfa;
  --primary: #08a951;
  --black: #130d09;
  --grey: #b1b6aa;
  --primary-dark: #668a45;
  --secondary:#9D622D;
  --secondary-dark: #56462D;
}


body {
  font-size: 1.6rem;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  background-color: var(--white);
  color: var(--black);
}

h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}


.container {
  width: 100%;
  max-width: 1054px;
  padding: 0 15px;
  margin: 0 auto;
  overflow: hidden;
}